Requirements:
01-The system shall allow users to create accounts by providing an email and password,
 which are kept on the databases.

02-The system shall allow users to post artwork, with descriptive details.

03-The system shall allow users to observe different artworks and the attached descriptives details.

04-The system shall allow customers to purchase artwork.

05-The system shall allow customers who buy artwork to choose whether to have the
artwork shipped, or pick it up themselves.

06-The system shall allow artists to see whether their artworks were purchased or not.

07-The system shall allow users to display an image, an e-mail adress, and a description on their profile.
(among other things?)

08-The system shall allow users the ability to observe the profile of other users who have posted artwork.

09-The system shall display all the artwork made by a user on their profile.

10-The system shall send receipts to users who buy artwork.

11-The system shall send receipts to artists who have had their artwork bought, and shall display the commission taken on the receipt.

12-The system shall display the current location of the artworks.

13-The system shall allow the art gallery to display artwork together in specific collections.

14-The system shall send receipts to the art gallery, with its commission on sales included.

15-The system shall display an approximate date of delivery for artwork.

Non functional ones that I am less confident about:

The system shall take under 5 minutes to set up an account and profile

The system shall be accessible from pc and android

The system shall display a help email-adress

