Requirements:

1. The art gallery system shall have profiles for the artits.

2. The art gallery system shall present the artists' artwork.

3. The art gallery system shall promote artwork present on the gallery's premises.

4. The art gallery system shall have a payment system.
	4.1 The payment system shall take a commision for every sold artwork.
	4.2 The payment system shall send a share to the artists.

5. Clients shall be able to buy artwork from the art gallery system. 

6. The art gallery system shall have a checkout.
	6.1 The clients using the checkout shall indicate if they want the art to be shipped by mail or left at the store for pickup. 

7. The art gallery system must have a web and an application interface. 

8. The art gallery system shall have filters to browse the artwork.

9. The art gallery system shall enable notifications for artists whose artkwork is sold. 

10. The art gallery system shall have a communication platform between artists and clients.
	10.1 The communication platform shall have predetermined phrases as suggestion to start the chat.

11. The art gallery system shall generate statistics for the gallery managers and the artists. 
	11.1 The reports shall be generated at a chosen frequency (daily, weekly, monthly, yearly).



